*~
lammps.pdf
*.o
*.so
*.cu_o
*.ptx
*_ptx.h
*.a
Obj_*
log.*
*.x
*.exe
.*.swp
*.orig

installation_notes.txt
Makefile.package
Makefile.package.settings
angle_charmm.cpp
angle_charmm.h
angle_cosine.cpp
angle_cosine.h
angle_cosine_delta.cpp
angle_cosine_delta.h
angle_cosine_periodic.cpp
angle_cosine_periodic.h
angle_cosine_squared.cpp
angle_cosine_squared.h
angle_harmonic.cpp
angle_harmonic.h
angle_table.cpp
angle_table.h
atom_vec_angle.cpp
atom_vec_angle.h
atom_vec_bond.cpp
atom_vec_bond.h
atom_vec_dipole.cpp
atom_vec_dipole.h
atom_vec_full.cpp
atom_vec_full.h
atom_vec_molecular.cpp
atom_vec_molecular.h
atom_vec_template.cpp
atom_vec_template.h
bond_fene.cpp
bond_fene.h
bond_fene_expand.cpp
bond_fene_expand.h
bond_harmonic.cpp
bond_harmonic.h
bond_morse.cpp
bond_morse.h
bond_nonlinear.cpp
bond_nonlinear.h
bond_quartic.cpp
bond_quartic.h
bond_table.cpp
bond_table.h
compute_erotate_rigid.cpp
compute_erotate_rigid.h
compute_ke_rigid.cpp
compute_ke_rigid.h
compute_msd_nongauss.cpp
compute_msd_nongauss.h
compute_ti.cpp
compute_ti.h
dihedral_charmm.cpp
dihedral_charmm.h
dihedral_harmonic.cpp
dihedral_harmonic.h
dihedral_helix.cpp
dihedral_helix.h
dihedral_multi_harmonic.cpp
dihedral_multi_harmonic.h
dihedral_opls.cpp
dihedral_opls.h
ewald.cpp
ewald.h
ewald_disp.cpp
ewald_disp.h
fft3d.cpp
fft3d.h
fft3d_wrap.cpp
fft3d_wrap.h
fix_deposit.cpp
fix_deposit.h
fix_efield.cpp
fix_efield.h
fix_evaporate.cpp
fix_evaporate.h
fix_gld.cpp
fix_gld.h
fix_oneway.cpp
fix_oneway.h
fix_orient_fcc.cpp
fix_orient_fcc.h
fix_qeq_comb.cpp
fix_qeq_comb.h
fix_rigid.cpp
fix_rigid.h
fix_rigid_nh.cpp
fix_rigid_nh.h
fix_rigid_nh_small.cpp
fix_rigid_nh_small.h
fix_rigid_nph.cpp
fix_rigid_nph.h
fix_rigid_nph_small.cpp
fix_rigid_nph_small.h
fix_rigid_npt.cpp
fix_rigid_npt.h
fix_rigid_npt_small.cpp
fix_rigid_npt_small.h
fix_rigid_nve.cpp
fix_rigid_nve.h
fix_rigid_nve_small.cpp
fix_rigid_nve_small.h
fix_rigid_nvt.cpp
fix_rigid_nvt.h
fix_rigid_nvt_small.cpp
fix_rigid_nvt_small.h
fix_rigid_small.cpp
fix_rigid_small.h
fix_shake.cpp
fix_shake.h
fix_thermal_conductivity.cpp
fix_thermal_conductivity.h
fix_ttm.cpp
fix_ttm.h
fix_tune_kspace.cpp
fix_tune_kspace.h
fix_viscosity.cpp
fix_viscosity.h
gridcomm.cpp
gridcomm.h
improper_cvff.cpp
improper_cvff.h
improper_harmonic.cpp
improper_harmonic.h
improper_umbrella.cpp
improper_umbrella.h
kissfft.h
msm.cpp
msm.h
msm_cg.cpp
msm_cg.h
pair_adp.cpp
pair_adp.h
pair_airebo.cpp
pair_airebo.h
pair_bop.cpp
pair_bop.h
pair_born_coul_long.cpp
pair_born_coul_long.h
pair_born_coul_msm.cpp
pair_born_coul_msm.h
pair_buck_coul_long.cpp
pair_buck_coul_long.h
pair_buck_coul_msm.cpp
pair_buck_coul_msm.h
pair_buck_long_coul_long.cpp
pair_buck_long_coul_long.h
pair_comb.cpp
pair_comb.h
pair_comb3.cpp
pair_comb3.h
pair_coul_long.cpp
pair_coul_long.h
pair_coul_msm.cpp
pair_coul_msm.h
pair_eam.cpp
pair_eam.h
pair_eam_alloy.cpp
pair_eam_alloy.h
pair_eam_fs.cpp
pair_eam_fs.h
pair_eim.cpp
pair_eim.h
pair_hbond_dreiding_lj.cpp
pair_hbond_dreiding_lj.h
pair_hbond_dreiding_morse.cpp
pair_hbond_dreiding_morse.h
pair_lcbop.cpp
pair_lcbop.h
pair_lj_charmm_coul_charmm.cpp
pair_lj_charmm_coul_charmm.h
pair_lj_charmm_coul_charmm_implicit.cpp
pair_lj_charmm_coul_charmm_implicit.h
pair_lj_charmm_coul_long.cpp
pair_lj_charmm_coul_long.h
pair_lj_charmm_coul_msm.cpp
pair_lj_charmm_coul_msm.h
pair_lj_cut_coul_long.cpp
pair_lj_cut_coul_long.h
pair_lj_cut_coul_msm.cpp
pair_lj_cut_coul_msm.h
pair_lj_cut_dipole_cut.cpp
pair_lj_cut_dipole_cut.h
pair_lj_cut_dipole_long.cpp
pair_lj_cut_dipole_long.h
pair_lj_cut_tip4p_cut.cpp
pair_lj_cut_tip4p_cut.h
pair_lj_cut_tip4p_long.cpp
pair_lj_cut_tip4p_long.h
pair_lj_long_coul_long.cpp
pair_lj_long_coul_long.h
pair_lj_long_dipole_long.cpp
pair_lj_long_dipole_long.h
pair_lj_long_tip4p_long.cpp
pair_lj_long_tip4p_long.h
pair_lj_sf_dipole_sf.cpp
pair_lj_sf_dipole_sf.h
pair_nb3b_harmonic.cpp
pair_nb3b_harmonic.h
pair_nm_cut.cpp
pair_nm_cut.h
pair_nm_cut_coul_cut.cpp
pair_nm_cut_coul_cut.h
pair_nm_cut_coul_long.cpp
pair_nm_cut_coul_long.h
pair_rebo.cpp
pair_rebo.h
pair_sw.cpp
pair_sw.h
pair_tersoff.cpp
pair_tersoff.h
pair_tersoff_mod.cpp
pair_tersoff_mod.h
pair_tersoff_zbl.cpp
pair_tersoff_zbl.h
pair_tip4p_cut.cpp
pair_tip4p_cut.h
pair_tip4p_long.cpp
pair_tip4p_long.h
pppm.cpp
pppm.h
pppm_cg.cpp
pppm_cg.h
pppm_disp.cpp
pppm_disp.h
pppm_disp_tip4p.cpp
pppm_disp_tip4p.h
pppm_stagger.cpp
pppm_stagger.h
pppm_tip4p.cpp
pppm_tip4p.h
remap.cpp
remap.h
remap_wrap.cpp
remap_wrap.h
colvarproxy_lammps.cpp
colvarproxy_lammps.h
fix_colvars.cpp
fix_colvars.h
group_ndx.cpp
group_ndx.h
lmp_iccO3-openmpi1.6.4-intel2013
style_angle.h
style_atom.h
style_body.h
style_bond.h
style_command.h
style_compute.h
style_dihedral.h
style_dump.h
style_fix.h
style_improper.h
style_integrate.h
style_kspace.h
style_minimize.h
style_pair.h
style_reader.h
style_region.h
